.*.swp
*~

tags
cscope.out

.deps
.libs
*.o
*.lo
*.la
*.loT
*.pyc

Makefile
Makefile.in
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
depcomp

signals-marshal.c
signals-marshal.h
signals-marshal.list

*-enumtypes.c
*-enumtypes.h

data/org.freedesktop.Telepathy.ConnectionManager.salut.service
data/salut.manager

docs/xep.xsl
docs/clique.html
docs/telepathy-salut.8

extensions/_gen
extensions/extensions.html

lib/gibber/examples/test_{ssl,tcp}

tests/telepathy-salut-debug
tests/check-main
tests/outputs
tests/sasl-test.db
tests/test-xmpp-connection
tests/test-r-multicast-{packet,sender,transport-io}
tests/test-r-multicast-transport-io
tests/twisted/tools/exec-with-log.sh
tests/twisted/tools/salut-testing.log
tests/twisted/tools/tmp-session-bus.conf
tests/twisted/tools/org.freedesktop.Telepathy.ConnectionManager.salut.service

tools/libglibcodegen.pyc

src/telepathy-salut
src/write-mgr-file

/telepathy-salut-*/
/telepathy-salut-*.tar.gz
